@model IEnumerable<CC1_Code_First.Models.Movie>
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <title>Movies List</title>
</head>
<body>
    <h1>Movies List</h1>
    <a href="@Url.Action("Create")">Create New Movie</a>
    <table>
        <thead>
            <tr>
                <th>Movie ID</th>
                <th>Movie Name</th>
                <th>Date of Release</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                  <td>@movie.Mid</td>
                  <td>@movie.Moviename</td>
                  <td>@movie.DateofRelease.ToShortDateString()</td>
                  <td>
                    <a href="@Url.Action("Edit", new { id = movie.Mid })">Edit</a> |
                    <a href="@Url.Action("Delete", new { id = movie.Mid })">Delete</a>
                   </td>
                </tr>            }
        </tbody>
    </table>
</body>
</html>

